@tailwind base;
@tailwind components;
@tailwind utilities;

a.footer-link {
  color: hsl(150, 100%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
