@use "variables" as v;
@use "mixins";

.gallery {
  &__image-container {
    height: 300px;
    width: 100%;
    background: {
      image: url("../images/image-product-1.jpg");
      position-y: -35px;
      size: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__previous {
    @include mixins.image-btn(205px, 15px, false, 40px, 40px);
  }
  &__next {
    @include mixins.image-btn(205px, 320px, false, 40px, 40px);
  }
  &__thumbnails {
    display: none;
  }
  @media (min-width: 1115px) {
    width: 446px;
    &__image-container {
      border-radius: 16px;
      height: 446px;
      margin-bottom: 32px;
      background: {
        image: url("../images/image-product-1.jpg");
        position-y: 0;
        size: cover;
      }
    }
    &__thumbnails {
      display: flex;
      justify-content: space-between;
    }
    &__thumbnail {
      width: 90px;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
        border: 2px solid v.$Orange;
        opacity: 0.4;
      }
    }
  }
}
