@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$Body-font: 'Open Sans', sans-serif;
$Headings-font: 'Poppins', sans-serif;

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$white: #fff;