@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$Dark-cyan: #3c8067;
$Cream: #f2ebe3;

$Very-dark-blue: #1c232b;
$Dark-grayish-blue: #6c7289;
$White: #ffffff;
$Very-dark-green: #1b4132;

// Fuentes
$Fraunces: 'Fraunces', serif;
$Montserrat: 'Montserrat', sans-serif;
