@import 'tailwindcss';

@font-face {
  font-family: 'RedHat';
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
  src: url('/assets/fonts/RedHatText-VariableFont_wght.ttf') format('woff2');
}


@theme {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
}

body {
  font-family: 'RedHat', sans-serif;
  background-color: var(--color-rose-100);
  color: var(--color-rose-900);
}